body {
  margin: 0;
  padding: 0;
  font-family: calibri;
  background-color: #ffffff;
}
/* Beginning of Header Styling */
/* ## Colors
 - Primary color (orange color on the page): **#D66939**
 - Secondary Color (Black colors on the page): **#2C2C2C**
 - Tertiary color (White text on the page): **#FFFFFF**
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}


/*.container {
  width: 1366px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
}*/

/*About Section*/
.about-section {
  margin: 6% 5% 4% 4%;
  font-family: Calibri;
}

.about-us {
  letter-spacing: 0.035em;
  font-size: 1.7rem;
  line-height: 0.5rem;
}

.about {
  font-size: 1.7rem;
  font-weight: lighter;
}

.btn1{
background:  #D66939;
text-transform: uppercase;
padding: 1%;
font-size: 1.2rem;
font-weight: bold;
border: none;
}

/*Room Sections*/
@media (min-width: 768px) {

  .room_sections{
    background-color:black;
    color: #FFFFFF;
    /*#2C2C2C*/
  }
  .arrow{
    float: right;
  }
  .arrow a{
    text-decoration: none;
    color:white;
  }
  .one{
    text-align: center;
    clear:right;
  }
  .two{
    display: flex;
    color: #FFFFFF;
    clear:left;
  }
  .two2{
    margin-left: 5rem;
    width: 670px;
    height: 500px;
  }
  .three{
    display: flex;
    color: #FFFFFF;
  }
  .three1{
    margin-right: 5rem;
    text-align: right;
    width: 670px;
    height: 500px;
    margin-top: 5rem;
  }
  .room_image{
    width: 670px;
    height: 500px;
  }
  .arrow_1{
    margin-top: 4rem;
  }
  .arrow_1 a{
    text-decoration:none;
    color:white;
    margin-left:6px;
  }
  .three1_1{
    display: flex;
    color: #FFFFFF;
    margin-top: 3rem;
  }
  .three1_2{
    margin-left: 5rem;
    width: 670px;
    height: 500px;
    margin-top: 4rem;
  }
  .two2_1{
    margin-left: 5rem;
    width: 670px;
    height: 500px;
    margin-top: 4rem;
  }
  .two{
    display: flex;
    color: #FFFFFF;
    margin-top: 3rem;
  }
  .butt{
    background: #D66939 ;
    color:#2C2C2C;
    font-size: 24px;
    font-weight: bolder;
    border: none;
    padding:5px;
  }
  .three1_duplicate{
    display: none;
  }


}
@media (max-width: 767px) {
  .room_sections{
    background-color:black;
    color: #FFFFFF;
    text-align: center;
    /*#2C2C2C*/
  }
  .arrow{
    float: right;
  }
  .arrow a{
    text-decoration: none;
    color:white;
  }
  .arrow_1{
    margin-top: 4rem;
  }
  .arrow_1 a{
    text-decoration:none;
    color:white;
    margin-left:6px;
  }
  .one{
    text-align: center;
    clear: right;
  }
  .three1_1{
    color: #FFFFFF;
  }
  .two{
    color: #FFFFFF;
  }
  .three{
    color: #FFFFFF;
  }
  .butt{
    background: #D66939 ;
    color:#2C2C2C;
    font-weight: bolder;
    border: none;
    font-size: 15px;
    padding:5px;
  }
  .room_image{
    height: 400px;
    width: 95%;
    margin: 5px auto;
    display: block;
  }
  .three1{
    display: none;
  }
}
/* facilities section */
.jumbotron{
  margin-bottom: 0;
}

.browse-gallery{
  width: 180px;
  font-weight: bold;
  padding: 5px 15px;
  background-color: #D66939;
  margin: 20px auto 0;
}

.back-to-home{
  float: right;
  clear: left;
  margin-right: 10px;
}
.back-to-home img{
  width: 20px;
  margin-right: 15px;
}
.back-to-home span{
  color: #D66939;
}

/*CONTACT US SECTION CSS*/
.contact_section_header{
  text-align: center;

}
.contact_section{
  background-color: #D66939;
  color: #FFFFFF;
  height: 100%;
  padding: 10px;

}

.contact_section input[type=text],input[type=email] {
  background-color: #D66939;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
}

.contact_section ::placeholder {
  color: #FFFFFF;
}

.contact_section button{
  background-color: #FFFFFF;
  color: #D66939;
  padding: 8px;
  border: 2px solid #D66939;
  border-radius: 4px;
  font-weight: bolder;
}
/*END CONTACT US SECTION STYLE*/

/*FOOTER SECTION*/
@media (max-width: 767px){
  .contact_section_details{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: block;
  }
  
  .contact_details{
    width: 90%;
    
  }
  
  .help_links{
    width: 30%;
  }
  
  .help_links a{
    color: black;
  }
  
  .contact_details table{
    padding: 20px;
  }
  
  .contact_details table p{
    margin-left: 5px;
    margin-top: 5px;
  }
  
  td img{
    width: 20px
  }
  
  .text-colored{
    color: #D66939
  }
  
  ul {
    list-style: none;
  }
  
  .help_links img{
    width: 30px;
  }
  
  .help_links .mt-2{
    margin-top: 10px;
  }
  
  .contact_section_footer{
    text-align: center;
  }
}
@media (min-width: 768px){
  .contact_section_details{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
  
  
  }
  
  .contact_details{
    width: 70%;
    padding-left: 5px;
  }
  
  .help_links{
    width: 30%;
  }
  
  .help_links a{
    color: black;
  }
  
  .contact_details table{
    padding: 10px
  }
  
  
  td img{
    width: 20px
  }
  
  .text-colored{
    color: #D66939
  }
  
  ul {
    list-style: none;
  }
  
  .help_links img{
    width: 30px;
  }
  
  .help_links .mt-2{
    margin-top: 10px;
  }
  
  .contact_section_footer{
    text-align: center;
  }
  
}

/*END FOOTER STYLE*/

/*Header*/
.subnav {
  margin: 0px;
  /* height: 5vh; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  flex-flow: row wrap;
  color: #2c2c2c;
  opacity: 0.7;
}

.subnav p {
  margin: 5px 0;
}

.container-1 {
  position: relative;
  mix-blend-mode: normal;
  background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url("assets/hero-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  /* overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory; */
}

.item-2 {
  display: flex;
  align-items: center;
}

.item-2 p {
  font-size: 16px;
  color: rgba(0, 0, 0, .72);
  margin: 5px 10px;
}

.item-2 img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  scroll-snap-align: center;
}

.menu-bar p {
  margin: 50px;
  font-size: 38px;
  text-decoration: underline;
  color: #D66939;
  font-family: Nottingham Bold;
  font-style: normal;
}

.menu-bar p strong {
  text-decoration: none;
  color: #FFF;
  text-transform: uppercase;
  font-family: calibri;
  font-style: normal;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-top: 65px;
  margin-right: 55px;
}

.nav-links li a {
  margin: 5px;
  color: #fff;
  font-size: 16px;
  font-family: calibri;
  font-style: normal;
  text-decoration: none;
}

.nav-links li a:hover {
  color: #fff;
}

.nav-link, .active {
  color: #D66939;
  text-decoration: none;
}

.nav-links .active:hover {
  color: #D66939;
  text-decoration: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 80vh;
}

.hero__main {
  margin: 0;
  color: #fff;
  font-weight: normal;
  text-align: center;
}

.hero__main::before,
.hero__main::after {
  content: '';
  display: inline-block;
  width: 70px;
  height: 2px;
  background-color: #D66939;
  position: relative;
  top: -5px;
  margin: 0 15px;
}

.horizontalLine {
  border-left: 2px solid #D66939;
  height: 90px;
  margin: 15px;
  transform: rotate(90deg);
  transform-origin: 0 0;
  position: absolute;
  left: 610px;
  top: 250px;
}

/* h1 {
	position: absolute;
	left: 650px;
	top: 245px;
	font-weight: 300;
	color: #FFFFFF;
	font-size: 28px;
} */

.horizonLine {
  border-left: 2px solid #D66939;
  height: 90px;
  margin: 15px;
  transform: rotate(90deg);
  transform-origin: 0 0;
  position: absolute;
  left: 850px;
  top: 250px;
}

.hero p {
  /*position: absolute;
	left: 400px;
  top: 340px;*/
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin: 2% 0;
}

.hero span {
  left: 640px;
  top: 400px;
  color: #fff;
  font-size: 26px;
  padding: 2px 20px;
  border: 2px solid #D66939;
  border-radius: 2px;
  font-family: calibri;
  font-weight: 200;
}

.footnav {
  flex-flow: row wrap;
  /* height: 15vh; */
  background: #D66939;
  position: absolute;
  /* left: 600px; */
  /* top: 610px; */
  bottom: -50px;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin: -10px;*/
  padding: 10px;
}

.footnav > * {
  flex-shrink: 0;
}

.check-in {
  margin: 20px;
  border: 2px solid #fff;
  border-radius: 2px;
  background: #fff;
  padding: 5px 15px;
  color: #2C2C2C;
}

.check-out {
  position: relative;
  /* left: -100px; */
  margin: 20px;
  border: 2px solid #fff;
  border-radius: 2px;
  background: #fff;
  padding: 5px 15px;
  color: #2C2C2C;
}

.together {
  display: block;
  position: relative;
  margin: 10px;
  height: 55px;
}

.together p {
  color: #2C2C2C;
  margin: 5px;
  line-height: 6px;
}

.box {
  border: 2px solid #fff;
  border-radius: 2px;
  min-height: 30px;
  min-width: 40px;
  background: #fff;
}

.availability {
  margin: 20px auto;
  border: 2px solid #000;
  border-radius: 2px;
  background: rgba(0, 0, 0, .96);
  color: #fff;
  padding: 0 2px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

#check {
  display: none;
}

#btn, #cancel, .menu-bar label {
  display: none;
}

@media screen and (max-width: 720px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .menu-bar {
    position: fixed;
    left: -280px;
    top: -80px;
    width: 280px;
    height: 120%;
    background: rgba(0, 0, 0, .85);
    color: #fff;
    z-index: 1000;
  }
  .menu-bar p {
    margin-left: -120px;
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 160px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    user-select: none;
    color: #D66939;
    font-size: 28px;
    font-family: Nottingham Bold;
    font-style: normal;
  }
  .menu-bar p strong {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
  }
  .nav-links {
    display: block;
    list-style: none;
    padding: 10px 40px;
    position: absolute;
    left: -10px;
    top: 80px;
    transition: all .5s ease;
  }
  .nav-links li a {
    height: 100%;
    width: 100%;
    line-height: 15px;
    font-size: 20px;
    color: #fff;
    padding-left: 10px;
    box-sizing: border-box;
    text-decoration: none;
  }
  ul li:hover a {
    padding-left: 5px;
  }
  .nav-links ul a {
    margin-right: 5px;
  }
  header#cover {
    z-index: -2;
  }
  label #btn {
    display: block;
    position: relative;
    color: #000;
    padding: 25px;
    z-index: 1000;
  }
  .menu-bar label {
    display: block;
  }
  div #cancel {
    display: block;
    position: absolute;
    color: #fff;
    padding: 25px;
    z-index: 1000;
  }
  label #btn {
    z-index: 1111;
    top: 10px;
    font-size: 30px;
    color: #fff;
    padding: 5px 7px;
    transition: all .5s ease;
    cursor: pointer;
  }
  div #cancel {
    position: absolute;
    z-index: 1111;
    left: 180px;
    top: 90px;
    font-size: 22px;
    color: #fff;
    padding: 5px 7px;
    transition: all .5s ease;
    cursor: pointer;
  }
  #check:checked~.menu-bar {
    left: -5px;
  }
  #check:checked~label #btn {
    /* left: 250px; */
    opacity: 0;
    pointer-events: none;
  }
  #check:checked~div #cancel {
    left: 200px;
  }
  
  .horizontalLine {
    border-left: 2px solid #D66939;
    height: 50px;
    margin: 15px;
    left: 100px;
    top: 150px;
  }
  /* h1{
 	position: absolute;
 	left: 130px;
 	top: 150px;
 } */
  .horizonLine {
    border-left: 2px solid #D66939;
    height: 50px;
    margin: 15px;
    left: 290px;
    top: 150px;
  }
  .hero p {
    display: block;
    font-size: 30px;
    margin-left: 20px;
    text-align: center;
  }
  .hero span {
    left: 100px;
    top: 300px;
  }
  .footnav {
    left: 0px;
    width: 100%;
    display: flex;
  }
  .check-in {
    /* top: 27px; */
    margin: 0px;
    border-radius: 2px;
    padding: 2px 10px;
    text-align: center;
    font-size: 14px;
  }
  .check-out {
    /* top: -10px; */
    /* left: 90px; */
    margin: 0px;
    border-radius: 2px;
    padding: 2px 10px;
    text-align: center;
    font-size: 14px;
  }
}

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
  color: #2c2c2c;
  font-size: 1.6rem;
}

.container {
  width: 1366px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 1rem;
}

/* About us section */

.about-us {
}

.about-us .about_title p {
  font-size: 1.5em;
  font-weight: bold;
  color: #2c2c2c;
  position: static;
  margin-top: 70px;
  font-style: normal;
  text-transform: uppercase;
}

.about-us .button {
  margin: 0;
  display: block;
}

.about-us button {
  width: 300px;
  max-width: 100%;
}

/*This is the code for FOOTER SECTION*/

/* .column{
	float: left;
	width: 50%;
}
.row::after {
	content: "";
	display: table;
	clear: both;
} */

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-flow: row wrap;
}

.column ul {
  padding: 0;
  margin: 0;
}

#ft {
  background-color: #ffffff;
  padding-top: 20px;
  padding-left: 10px;
  border-radius: 20px;
  /*color: #2C2C2C;
	font-family: calibri;*/
}

.footer {
  height: 100px;
  font-family: calibri;
  color: #2C2C2C;
  font-weight: bolder;
  box-sizing: border-box;
}

.footer .img {
  padding-right: 5px;
}

.footer span {
  color: #D66939;
  font-size: 20px;
}

.footer a {
  display: inline-block;
  text-decoration: none;
}

.footer li {
  text-decoration: none;
  display: block;
  list-style-type: none;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    text-align: center;
  }
}